extensions:
{
    mode = ".v";
};

camera :
{
    captor = { width = 500; height = 500; };
    position = { x = 90; y = 0; z = 0; };
    rotation = { x = 0; y = 0; z = 0; };
    focal = -100;
    recursionDepth = 5;
};

plugins:
{
    wrapper = "src/plugins/libWrapper.v.so";
    plugins = (
        {
            name = "ambientOcclusion";
            path = "./src/plugins/libApplyAmbientOcclusion.process";
        },
        {
            name = "ambientLight";
            path = "./src/plugins/libAmbientLight.process";
        },
        {
            name = "applyIntersect";
            path = "./src/plugins/libApplyIntersect.process";
        },
        {
            name = "applyPointLights";
            path = "./src/plugins/libApplyPointLights.process";
        },
        {
            name = "applyReflection";
            path = "./src/plugins/libApplyReflections.process";
        },
        {
            name = "bloom";
            path = "./src/plugins/libBloom.process";
        }
    );
}

lights:
{
    # The list of lights that should be loaded by the plugin manager.
    # The name of the light is the name of the plugin that will be used
    path = "./src/plugins/";
    lights = (
        {
            name ="light1";
            type = "Directional";
            args = {
                direction = { x = -1.0; y = 2.0; z = 1.0; };
                color = { r = 100; g = 100; b = 130; };
                applyMode = "BlinnPhong";
                shadowSamples = 10;
            };
        },
        {
            name = "light2_disk";
            type = "Disk";
            args = {
                color = { r = 200; g = 200; b = 200; };
                applyMode = "BlinnPhong";
                shadowSamples = 10;
                radius = 1.0;
                position = { x = 0.0; y = 20.0; z = 0.0 };
            };
        }
    );
};

params:
{
    params = {
        ambientLight = { r = 60; g = 90; b = 127; };
        ambientOcclusion = {
            r = 60;
            g = 90;
            b = 127;
            density = 0.003;
        }
    }
}