# Configuration of the camera
extensions:
{
    # .v for vanilla (CPU) mode, .gl for OpenGL (GPU) mode
    # the extension will be appended to the file names in order to load the files
    # for exemple if the name of the plugin is "PluginName" and the extension is ".v",
    # the complete file name will be PluginName.v.so
    mode = ".v";
};

camera :
{
    captor = { width = 1000; height = 1000; };
    position = { x = 90; y = 0; z = 0; };
    rotation = { x = 0; y = 0; z = 0; };
    focal = -100;
    recursionDepth = 5;
};

plugins:
{
    # The path to the plugin wrapper. This is the executable that will be
    # launched by the plugin manager in order to execute the plugins.
    # It will more or less serve as a main loop for the rendering process.
    wrapper = "src/plugins/libWrapper.v.so";

    # All the plugins that should be loaded by the plugin manager in order to
    # be available. This does not necessarily include the plugins that are used
    # as primitives of materials as they are loaded separately in the objects
    # section.
    plugins = (
        # {
        #     name = "antialiasing";
        #     path = "./src/plugins/libAntialiasing.process";
        # },
        {
            name = "ambientOcclusion";
            path = "./src/plugins/libApplyAmbientOcclusion.process";
        },
        {
            name = "ambientLight";
            path = "./src/plugins/libAmbientLight.process";
        },
        {
            name = "applyIntersect";
            path = "./src/plugins/libApplyIntersect.process";
        },
        {
            name = "applyPointLights";
            path = "./src/plugins/libApplyPointLights.process";
        },
        {
            name = "applyReflection";
            path = "./src/plugins/libApplyReflections.process";
        }
    );
}

objects:
{
    pathObjects = "./src/plugins/";
    pathMaterial = "./src/plugins/";
    # The list of objects that should be loaded by the plugin manager.
    # The name of the object is the name of the plugin that will be used
    objects = (
        {
            primitive = {
                type = "Sphere";
                args = { x = 15.0; y = -10.0; z = 10.0, radius = 10.0;}; # Arguments that will be passed to the plugin
            };
            material = {
                type = "Flat";
                args = {
                    color = { r = 120; g = 0; b = 100; };
                    properties = {
                        reflectivity = 0.5;
                        shininess = 0.5;
                    };
                };
            };
        },
        {
            primitive = {
                type = "Sphere";
                args = { x = 0.0; y = 0.0; z = 7.0, radius = 5.0;}; # Arguments that will be passed to the plugin
            };
            material = {
                type = "Flat";
                args = {
                    color = { r = 100; g = 100; b = 10; };
                    properties = {
                        reflectivity = 0.0;
                        shininess = 0.0;
                    };
                };
            };
        },
        {
            primitive = {
                type = "Plane";
                args = {
                    origin = { x = 0.0; y = 10.0; z = 0.0; };
                    normal = { x = 0.0; y = 1.0; z = 0.0; };
                }; # Arguments that will be passed to the plugin
            };
            material = {
                type = "Check";
                args = {
                    color1 = { r = 10; g = 10; b = 10; };
                    color2 = { r = 100; g = 100; b = 10; };
                    properties = {
                        reflectivity = 0.5;
                        shininess = 0.5;
                    };
                };
            };
        }
    );
};

lights:
{
    # The list of lights that should be loaded by the plugin manager.
    # The name of the light is the name of the plugin that will be used
    path = "./src/plugins/";
    lights = (
        # {
        #     name ="light1";
        #     type = "Directional";
        #     args = {
        #         direction = { x = -1.0; y = 2.0; z = 1.0; };
        #         color = { r = 100; g = 100; b = 130; };
        #         applyMode = "BlinnPhong";
        #         shadowSamples = 10;
        #     };
        # },
        {
            name = "light2_disk";
            type = "Disk";
            args = {
                color = { r = 200; g = 200; b = 200; };
                applyMode = "BlinnPhong";
                shadowSamples = 10;
                radius = 10.0;
                position = { x = 0.0; y = 20.0; z = 0.0 };
            };
        }
    );
};

params:
{
    params = {
        ambientLight = { r = 60; g = 90; b = 127; };
        ambientOcclusion = {
            r = 60;
            g = 90;
            b = 127;
            density = 0.003;
        }
    }
}

